.chatList {
  display: flex;
  flex-direction: column;
  height: 100%;

  hr {
    border: none;
    height: 2px;
    background-color: #ddd;
    opacity: 0.1;
    border-radius: 5px;
    margin: 20px 0px;
  }

  .title {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .list {
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  .chatItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
    font-size: 14px;
    transition: background-color 0.3s ease; 

    &:hover {
      background-color: #2c2937;
    }
  }

  .deleteButton {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    height: 10px;
    display: flex;
    align-items: center;
  }

  .upgrade {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;

    img {
      width: 24px;
      height: 24px;
    }

    .texts {
      display: flex;
      flex-direction: column;

      span {
        &:first-child {
          font-weight: 600;
        }

        &:last-child {
          color: #888;
        }
      }
    }
  }
}